html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  flex-shrink: 0;
  border-right: 1px solid black;
}
#right {
  width: 100%;
}
.top-left {
  flex-shrink: 0;
}
.top-right {
  border-bottom: 1px dashed black;
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: row;
}
ul {
  display: inline-flex;
  list-style: none;
  flex-direction: column;
}
.bottom {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* why aren't things centered? */
}
.projects {
  overflow-y: auto;
}
.headshot {
  border: 1px solid black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
